
#mldonkeyfox2_messages_area {
	font-family:"Trebuchet MS", Verdana, arial;
	font-size: 16px;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 999999;
}

#mldonkeyfox2_messages_area > div {
	display: block;
	text-align: center;
	font-size: 0;
	margin: 0;
	padding: 0;
	border-radius: 1em;
	transition: all 0.5s;
	opacity: 0;
}

#mldonkeyfox2_messages_area > div.mldonkey2_show {
	margin: 1em;
	padding: 1em;
	opacity: 1;
	font-size: 1em;
}

#mldonkeyfox2_messages_area > div.mldonkeyfox2_info {
	background: #99ff66;
	color: #336600;
}

#mldonkeyfox2_messages_area > div.mldonkeyfox2_warning {
	background: #ff9933;
	color: black;
}

#mldonkeyfox2_messages_area > div.mldonkeyfox2_error {
	background: #cc3300;
	color: black;
}

#mldonkeyfox2_messages_area p.mldonkey2_title {
	margin: 2px;
	font-size: 1.4em;
}

#mldonkeyfox2_messages_area p.mldonkey2_url {
	margin: 2px;
}

#mldonkeyfox2_messages_area p.mldonkey2_bottom {
	margin: 2px;
	font-variant: italic;
}

#mldonkeyfox2_messages_area button.mldonkeyfox2_action_button {
    background-color: inherit;
    border-radius: 5px;
    border: 1px solid black;
    padding: 0.2em;
    margin-top: 4px;
    margin-bottom: 1px;
}

#mldonkeyfox2_messages_area button.mldonkeyfox2_action_button:hover {
    border-width: 2px;
    margin-top: 3px;
    margin-bottom: 0;
}

#mldonkeyfox2_messages_area button.mldonkeyfox2_action_button:active {
    filter: brightness(80%);
}
